html {
    scroll-behavior: smooth;
}

.hero {
    background: url('../images/education/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
nav ul a {
    position: relative;
}

nav ul a:after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #171c1c;
    width:0%;
    bottom: 12%;
    left: 0;
    transition: width 0.5s;
}

nav ul a:hover:after {
    width: 100%;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 50%;
    background-color: #171717;
    border: none;
}

.navbar-after-scroll {
    background-color: #171717;
}